body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left-side
{
    position: relative;
    background: #003147;
    padding: 40px;
}
.container .right-side
{
    position: relative;
    background: #fff;
    padding: 40px;
}
.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(178, 235, 7, 0.2);
}
.profile .name{
    position: relative;
    display: flex;
    color: orange;
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;

}
.profile .imgs{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
}
.contact{
    color: #fff;
    font-weight: 600;
}
.icon{
    color: blue;
}
.tbl{
    
    border-color: red;
}
.edu{
    
    color: #fff;
    font-weight: 600;
}
.languages{
    color: white;
    font-weight: 600;
}
.lang .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background-color: black;
    display: block;

}
.lang .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: lightblue;
}
.hobies .hob{
    color: white;
    font-weight: 600;
}
.right-side .myself{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
.right-side .para{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.right-side .box h4{
    font-weight: 800;
    font-size: 16px;
}
.skill .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 250px 1fr;
    justify-content: center;
    align-items: center;
}
.skill .box .parcent
{
    position: relative;
    width: 100%;
    height: 6px;
    background-color: black;
    display: block;

}
.skill .box .parcent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: lightblue;
}